.header {
    background-color: rgb(13, 127, 117);
    border: 2px solid black;
    width: 400px;
    padding-left: 15px;
    border-radius: 15px;
    color: rgb(84, 8, 38);
    top: 50%
}


.hypera {
    border: 2px solid black;
    border-radius: 15px;
    text-decoration: none;
}